- var itemInfo = { title: "Нож Лиса", size: "95х18", material: "Орех, Алюминий", testimonials: "12 отзывов", price: "2 719" }

section.popular
    .popular-wrapper
        .popular-header
            h3.popular-header__title Хиты продаж
            a.popular-header__content(href="#", target="_blank")
                span.popular-header__text Перейти в каталог
                svg.popular-header__icon
                    use(xlink:href="@img/sprite/sprite.svg#arrow-bottom")
    .swiper.popular-products
        .swiper-wrapper.popular-products-swiper
            - for (let i = 0; i < 6; i++)
                div.swiper-slide.popular-product
                    .popular-product__image-wrapper
                        picture
                            source(srcset="@img/knife-card.webp", type="image/webp")
                            img.popular-product__image(src="@img/knife-card.png", alt="Изображение ножа")
                    .popular-product__content-wrapper
                        h4.popular-product__title #{itemInfo.title}
                        .popular-product__size-wrapper
                            span.popular-product__size #{itemInfo.size}
                            span.popular-product__material #{itemInfo.material}
                        .popular-product__rating
                            .popular-product__stars
                                - for (let j = 0; j < 5; j++)
                                    svg.popular-product__star-icon(tabindex="0")
                                        use(xlink:href="@img/sprite/sprite.svg#star-icon")
                            span.popular-product__testimonials #{itemInfo.testimonials}
                        .popular-product__stroke
                        .popular-product__price-wrapper
                            span.popular-product__price #{itemInfo.price} р.
                            .popular-product__icon-wrapper
                                svg.popular-product__scales-icon(tabindex="0")
                                    use(xlink:href="@img/sprite/sprite.svg#scales-icon")
                                svg.popular-product__favorites-icon(tabindex="0")
                                    use(xlink:href="@img/sprite/sprite.svg#product-favorites-icon")
                        button.button.popular-product-button
                            span.popular-product-button__text В корзину
                            svg.popular-product-button__icon
                                use(xlink:href="@img/sprite/sprite.svg#product-cart-icon")
        .swiper-pagination.popular__bullet-list